body {
  background-color: antiquewhite;
  /* display: flex; */
}
header {
/* display: flex; */
text-align: center;
}
main {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
img {
  width: 250px;
  height: auto;
}
.home {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
.home img{
  margin: 15px;
}
.home input{
  margin: 15px;
}
.theRaces{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.theRaces img {
  width: 150px;
  height: auto;
}


footer {
  /* display: flex; */
  text-align: center;
}

