body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between; 
}
header {
display: flex;
flex-direction: column;
text-align: center;
height: 140px;
}
main {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  flex-grow: 4;
  
}
img {
  width: 250px;
  height: auto;
}
.home {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
.home img{
  margin: 15px;
}
.home input{
  margin: 15px;
}
.theRaces{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.theRaces img {
  width: 150px;
  height: auto;
}
.theClasses{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.theClasses img {
  width: 150px;
  height: auto;
}


footer {
  display: flex;
  text-align: center;
  height: 40px;
  align-items: center;
  justify-content: center;
  /* position: relative;
  bottom: 0;
  width: 100%; */
}

