body {
  background-image: url(wallpapertip_dungeon-wallpaper_802355.jpg);
  background-color: #3a3426;
  background-size: cover;
  /* background-repeat: */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between; 
  position: relative;
  margin: 0;
  height: 100vh;
  /* font-family: 'MedievalSharp', cursive; */
  /* font-family: 'Montez', cursive; */
}
@font-face {
  font-family: 'olde-english';
  src: url(fonts/OldeEnglishRegular-Zd2J.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'immortal';
  src: url(fonts/Immortal-njO.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'endor';
  src: url(fonts/Endor-G0Z.ttf);
  font-style: normal;
  font-weight: normal;
}
header {
display: flex;
flex-direction: column;
text-align: center;
height: 22vh;
text-shadow: 0 0 4px #ffd700, 0 0 6px #bb2222;
}
header h1 {
font-family: 'olde-english';
font-weight: normal;
font-size: 48px;
margin: 30px 0 3px 0;
}
header h3 {
font-family: 'endor';
font-weight: normal;
margin: 2px 0 0 0;
font-size: 20px;
}
main {
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: auto;   
}
main h4{
  text-shadow: 0 0 4px #ffffff;
  font-size: 20px;
  color: #870000;
  font-family: 'immortal';
  margin: 5px;
}

.home {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
/* .home img{
  margin: 15px;
} */
.home input{
  font-family: 'MedievalSharp', cursive;
  background-image: url(https://www.3dxo.com/images/textures/s/arroway.de_tiles28_d100.jpg);
  color: #b0b048;
  font-size: 18px;
  margin: 15px;
  padding: 5px 15px;
  cursor: pointer;
}
.home input:hover{
  border: 2px solid #b0b048;
}
.theRaces{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}
.theRaces img {
  width: 180px;
  height: 140px;
  /* height: auto; */
  cursor: pointer;
}
.infoButton {
  font-family: 'MedievalSharp', cursive;
  background-color: #3a3426;
  color: #b0b048;
  margin-top: 10px;
  cursor: pointer;
}
.infoButton:hover {
  border: 2px solid #b0b048;
}
.theClasses{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}
.theClasses img {
  width: 180px;
  height: 140px;
  /* height: auto; */
  cursor: pointer;
}
.characterHeading {
  font-family: 'immortal';
  font-size: 26px;
  text-shadow: 0 0 4px #ff0000, 0 0 5px #000000, 0 0 7px #ffa500;
  color: #ffffff;
}
.characterDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 15px;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  color: #ffa500;
  text-shadow: 0 0 2px #000000;  
}
.characterDiv img {
  width: 240px;
  height: auto;
  border-radius: 55%;
}
.charClassImg {
  order: 5;
}
.apiDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
font-size: 26px;
font-weight: bold;
list-style-type: none;
padding: 0;
}
.listItem {
  text-decoration: none;
  font-size: 20px;
}
.advance {
  font-family: 'MedievalSharp', cursive;
  background-image: url(https://www.3dxo.com/images/textures/s/arroway.de_tiles28_d100.jpg);
  color: #b0b048;
  margin: 10px 40%;
  font-size: 16px;
  cursor: pointer;
}
.advance:hover {
  border: 2px solid  #b0b048;
}
.active {
  border: 4px solid blue;
}

footer {
  display: flex;
  text-align: center;
  height: 10vh;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}

/* modal stuff */
/* While I have tweaked this styling to suite my needs, some of it as well as the general "how to" knowledge for the whole Modal concept came from Richard Middleton and his extremely helpful youtube tutorial on modals. Populating the modal with information from my API was done without outside referance other than what has been learned in class. Mr. Middleton has a delightful brittish accent so the video is worth a watch.
Youtube video: https://www.youtube.com/watch?v=gLWIYk0Sd38&t=915s
Codepen from video: https://codepen.io/Middi/pen/rJYOyz?editors=0010 */
.modalContainer {
  background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.modal {
  height: auto;
	width: 300px;
  background-image: url('https://www.desktopbackground.org/download/1024x600/2013/12/11/683741_20-best-photos-of-scroll-backgrounds-template-blank-scroll-paper_1024x768_h.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
.close {
  position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}
.modal p {
  font-family: 'Montez', cursive;
  text-shadow: 0 0 3px #ffffff;
  font-size: 22px;
}